In [1]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [3]:
contador = 0
nomes_cidades = ["São Paulo", "Londres", "Tóquio", "Paris"]
while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador = contador + 1

São Paulo
Londres
Tóquio
Paris

In [4]:
nomes_cidades = 'São Paulo', 'Londres', 'Tóquio', 'Paris'

for nome in nomes_cidades:
    print(nome)

São Paulo
Londres
Tóquio
Paris

In [5]:
cidade = {
    'nome':'São Paulo',
    'estado':'São Paulo',
    'populacao_milhoes':12.2
}

for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: São Paulo
estado: São Paulo
populacao_milhoes: 12.2

In [7]:
nomes_cidades = ['São Paulo', 'Londres', 'Tóquio', 'Paris']

for nome in nomes_cidades:
    nome = "Rio de Janeiro"
    print(nome)
print(nomes_cidades)

Rio de Janeiro
Rio de Janeiro
Rio de Janeiro
Rio de Janeiro
['São Paulo', 'Londres', 'Tóquio', 'Paris']

In [10]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Rio de Janeiro'
print(nomes_cidades)

['Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro', 'Rio de Janeiro']

In [11]:
print(list(range(10)))
print(list(range(2, 10)))
print(list(range(2, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]